.additional-goods__title {
  margin-top: 25px;
  margin-bottom: 36px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.additional-goods__item {
  padding-bottom: 20px;

  border-top: 1px solid #cdcdcd;
}

.additional-goods__subtitle {
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
}

.additional-goods__specifications {
  display: flex;
  margin-bottom: 15px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @description-text-color;
}

.additional-goods__link-button {
  .button-primary-color;
}
