.advantages {
  width: @mobile-width-only;
  padding: 0 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    width: 100%;
    min-height: 676px;
    padding: 0;
    padding-bottom: 20px;

    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    min-height: 398px;
    padding: 0;

    border: 0;
  }
}

.advantages__container {
  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px 17px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 110px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 44px;

  font-size: 36px;
  line-height: 30px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;

    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 60px;

  font-family: "Arial", "Tahoma", sans-serif;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
  }
}

.advantages__item {
  position: relative;

  min-height: 60px;

  &::before {
    position: absolute;
    content: "";

    width: 60px;
    min-height: 60px;
    background-color: @primary-color;
  }

  &--healthy::after {
    position: absolute;
    content: "";
    top: 16px;
    left: 18px;

    width: 24.8px;
    min-height: 28px;

    background: url("../img/mobile/index/advantages-healthy.svg") no-repeat;
  }

  &--powder::after {
    position: absolute;
    content: "";
    top: 13px;
    left: 15px;

    width: 28.3px;
    min-height: 31px;

    background: url("../img/mobile/index/advantages-powder.svg") no-repeat;
  }

  &--eat::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 18px;

    width: 25px;
    min-height: 30px;

    background: url("../img/mobile/index/advantages-eat.svg") no-repeat;
  }

  &--quick::after {
    position: absolute;
    content: "";
    top: 16px;
    left: 18px;

    width: 24.5px;
    min-height: 29.4px;

    background: url("../img/mobile/index/advantages-quick.svg") no-repeat;
  }

  @media (min-width: @tablet-width) {
    min-height: 280px;
    padding-top: 144px;

    &::before {
      top: 31px;

      width: 80px;
      min-height: 80px;
    }

    &--healthy::after,
    &--powder::after,
    &--eat::after,
    &--quick::after {
      top: 56px;
      left: 26px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 230px;
  }
}

.advantages__description {
  padding-top: 3px;
  padding-left: 81px;
  margin: 0;

  color: @description-text-color;

  @media (min-width: @tablet-width) {
    width: 245px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    &--healthy::after,
    &--powder::after,
    &--eat::after,
    &--quick::after {
      position: absolute;
      z-index: -1;
      top: -10px;
      left: 113px;

      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
    }

    &--healthy::after {
      content: "1";
      left: 119px;
    }

    &--powder::after {
      content: "2";
    }

    &--eat::after {
      content: "3";
    }

    &--quick::after {
      content: "4";
    }
  }
}
