.example {
  position: relative;

  padding-bottom: 40px;

  background-color: @bg-color-mobile;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;

    background-color: #ffffff;
  }
}

.example__title-container,
.example__container {
  position: relative;

  width: @mobile-width-only;
  padding: 0 20px 40px 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 25px 30px 40px 30px;
    margin-bottom: 100px;

    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 0;

    &::after {
      display: none;
    }
  }
}

.example__title-container {
  padding-top: 29px;
  padding-bottom: 46px;

  @media (min-width: @tablet-width) {
    padding-top: 12px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.example__container {
  @media (min-width: @tablet-width) {
    padding-top: 19px;
    margin-bottom: 190px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding: 0;
    margin-bottom: 0;

    background-color: #f2f2f2;
  }
}

.example__description-container {
  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 72px 110px 67px 110px;
    margin: 0 auto;
  }
}

.example__description-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
  }
}

.example__title {
  margin: 0;

  font-size: 36px;
  line-height: 30px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 12px 110px 76px;
    margin: 0 auto;

    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;

  font-family: "Arial", sans-serif;
  color: @description-text-color;

  @media (min-width: @tablet-width) {
    width: 690px;
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.example__cost {
  display: flex;
  justify-content: center;

  line-height: 20px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 174px;
    margin-left: auto;
    margin-top: 12px;

    font-size: 20px;

    & p {
      margin: 0;

      &:first-child {
        margin-bottom: 8px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 327px;
    margin: 0;
  }
}

.example__images {
  width: @mobile-width-only;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;
    min-height: 462px;
    background-color: @bg-color-tablet;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 200px;
    right: 0;

    background-color: transparent;
  }
}

.example__wrapper {
  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.example__images-container {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: @tablet-width;
    margin-left: 1000px;
  }
}

.example__img-cat-fat {
  margin-left: 20px;
}

.example__img-cat-thin {
  display: none;
}

.example__btn {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  background-color: transparent;
  border: none;
}

.example__checkbox {
  display: flex;
  justify-content: space-between;
  width: 212px;

  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.example__toggle {
  position: relative;

  width: 86px;
  height: 14px;
  margin-top: 3px;

  font-size: 0;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 6px;

    width: 35.7px;
    height: 6px;

    background-color: @primary-color;
    border-radius: 6px;
  }
}

.example__range {
  display: none;

  @media (min-width: @tablet-width) {
    position: relative;

    display: flex;
    width: 592px;
    min-height: 40px;
    margin: 135px auto 56px auto;
  }

  @media (min-width: @desktop-width) {
    margin: 75px 40px 0 auto;
  }
}

.example__text {
  @media (min-width: @tablet-width) {
    width: 70px;
    min-height: 40px;

    font-size: 20px;
    line-height: 30px;
    text-align: center;

    &--before {
      margin-right: 13px;
    }

    &--after {
      margin-left: 13px;
    }
  }
}

.example__range__scale {
  @media (min-width: @tablet-width) {
    position: relative;
    width: 426px;
    height: 6px;
    margin-top: 13px;

    background-color: #dcdcdc;
    border-radius: 6px;
  }

  & div {
    position: absolute;
    top: -14px;
    left: 197px;

    width: 34px;
    height: 34px;
  }
}

.example__range__toggle {
  @media (min-width: @tablet-width) {
    position: relative;

    width: 34px;
    height: 34px;

    border: 1px solid #cdcdcd;
    border-radius: 50%;

    &::after {
      position: absolute;
      content: "";
      top: 12px;
      left: 12px;

      width: 8px;
      height: 8px;

      border-radius: 50%;
      background-color: @primary-color;
    }
  }
}
