.gift {
  position: relative;
  z-index: -2;

  width: 280px;
  min-height: 290px;
  padding: 188px 61px 43px 58px;
  margin-bottom: 33px;

  background: url("../img/mobile/catalog/background-gift.jpg") no-repeat;
  background-size: 280px 290px;

  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100%;
    background-color: @primary-color;
    opacity: 0.85;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    min-height: 200px;
    padding: 71px 50px 69px 423px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    min-height: 289px;
    padding: 41px;
    padding-top: 187px;
  }
}

.gift__text {
  position: relative;

  margin: 0;

  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    top: -130px;
    left: 43px;

    width: 78px;
    min-height: 80px;
    background: url("../img/mobile/catalog/icon-gift.svg") no-repeat;
  }

  @media (min-width: @tablet-width) {
    width: 161px;

    text-align: left;

    &::before {
      top: -12px;
      left: -343px;

      width: 80px;
      min-height: 82.6px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 161px;


    text-align: center;

    &::before {
      top: -130px;
      left: 44px;
    }
  }
}
