.logo {
  &:first-of-type {
    margin-right: 55px;
  }

  &:last-of-type {
    margin-top: 5px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__icon {
  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 60px;
  }
}
