.program {
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 82px;
  }
}

.program__container-title {
  width: @mobile-width-only;
  padding: 27px 20px 40px 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 70px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 110px;
  }
}

.program__title {
  margin: 0;
  margin-bottom: 37px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.program__text {
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program__container {
  display: flex;
  flex-direction: column;
  width: @mobile-width-only;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: @desktop-width;
    padding: 0 112px 0 110px;
  }
}

.program__form input::placeholder,
.program__form textarea::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @description-text-color;
  text-transform: uppercase;
  opacity: 1;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program__group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  border: none;

  &--data {
    min-height: 160px;
    padding: 0 20px;
    padding-bottom: 20px;

    @media (min-width: @tablet-width) {
      padding: 0 67px 72px 71px;
    }

    @media (min-width: @desktop-width) {
      width: 569px;
      min-height: 200px;
      padding: 0;
    }
  }

  &--choice {
    min-height: 157px;

    padding: 22px 20px 19px 20px;

    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: @tablet-width) {
      min-height: 200px;

      padding: 0 67px 0 71px;
      border: none;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
    }
  }

  &--contacts {
    padding: 0 20px;
    padding-bottom: 23.5px;

    @media (min-width: @tablet-width) {
      padding: 0 67px 0 71px;
    }

    @media (min-width: @desktop-width) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0;
    }
  }

  &--comment {
    padding: 0 20px;
    padding-bottom: 23px;

    @media (min-width: @tablet-width) {
      padding: 0 67px 0 71px;
    }

    @media (min-width: @desktop-width) {
      width: 100%;
      padding: 0;
    }
  }

  &--add {
    padding: 0 20px;
    margin-bottom: 34px;

    @media (min-width: @tablet-width) {
      padding: 0 67px 0 71px;
      margin-bottom: 54px;
    }

    @media (min-width: @desktop-width) {
      width: 100%;
      padding: 0;
      margin-bottom: 61px;
    }
  }
}

.program__label,
.choose-program__label,
.additionally__label {
  font-size: 16px;
}

.program__item {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;

  &--contacts {
    position: relative;

    flex-grow: 1;
    padding-top: 26px;
    margin-bottom: 35px;
  }

  &--comment {
    margin-bottom: 37px;
  }

  &--add {
    padding: 23px 0 34px;

    @media (min-width: @tablet-width) {
      padding: 65px 0 57px;
    }

    @media (min-width: @tablet-width) {
      padding-top: 76px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.program__label {
  position: relative;

  margin-bottom: 13px;

  color: @description-text-color;

  &--data {
    display: flex;
    min-height: 40px;
  }

  @media (min-width: @tablet-width) {
    min-height: 52px;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 30px;
  }

  &--contacts {
    display: flex;
    min-height: 45px;

    @media (min-width: @tablet-width) {
      min-height: 52px;
    }

    @media (min-width: @desktop-width) {
      min-height: 50px;
    }
  }

  &--email {
    @media (min-width: @desktop-width) {
      width: 569px;
    }
  }

  &--phone {
    @media (min-width: @desktop-width) {
      width: 572px;
    }
  }
}

.program__field {
  border: 1px solid #e7e7e7;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &--error {
    outline: 2px solid #ff8282;
  }

  &--data {
    flex-grow: 1;
    min-height: 45px;
  }

  &--email,
  &--phone {
    flex-grow: 1;
    min-height: 45px;

    @media (min-width: @tablet-width) {
      min-height: 52px;
    }

    @media (min-width: @desktop-width) {
      min-height: 50px;
    }
  }

  &--message {
    @media (min-width: @tablet-width) {
      min-height: 174px;
    }
  }
}

.program__icon {
  position: absolute;
  left: 230px;
  top: 0;

  fill: #222222;
}

.program__field--email:focus + .program__icon {
  fill: @primary-color;
}

.choose-program__label,
.additionally__label {
  color: #222222;
}

.choose-program__item,
.additionally__item {
  position: relative;

  margin-bottom: 12px;
}

.choose-program {
  width: 100%;

  @media (min-width: @tablet-width) {
    padding: 25px 28px;

    border: 1px solid #e7e7e7;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.choose-program__item {
  min-height: 30px;
  margin-bottom: 13px;
}

.choose-program__label {
  padding-left: 45px;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.choose-program__radio + label::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;
  border-radius: 50%;

  cursor: pointer;
}

.choose-program__radio:checked + label::after {
  position: absolute;
  content: "";
  top: 3px;
  left: 8px;

  width: 13.5px;
  height: 13.5px;

  background-color: @primary-color;
  border-radius: 50%;

  cursor: pointer;
}

.choose-program__radio:hover + label::before,
.choose-program__label:hover + label::before {
  border: 1px solid #bababa;
}

.choose-program__radio:disabled + label::before,
.choose-program__radio:checked:disabled + label::after {
  opacity: 0.3;
}

.additionally {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 221px);
    grid-row-gap: 32px;
    grid-column-gap: 123px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 221px);
    grid-column-gap: 104px;
  }
}

.additionally__item {
  min-height: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.additionally__label {
  padding-left: 44px;

  cursor: pointer;
}

.additionally__checkbox + label::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;

  cursor: pointer;
}

.additionally__checkbox:checked + label::after {
  position: absolute;
  content: "";
  top: 0;
  left: 5px;

  width: 18px;
  height: 14px;

  background: url("../img/mobile/form/tick.svg") no-repeat;

  cursor: pointer;
}

.additionally__checkbox:hover + label::before,
.additionally__label:hover + label::before {
  border: 1px solid #bababa;
}

.additionally__checkbox:disabled + label::before,
.additionally__checkbox:checked:disabled + label::after {
  opacity: 0.3;
}

.program__send {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    min-height: 52px;
    padding: 0 71px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.program__btn {
  min-height: 40px;
  margin-bottom: 21px;

  .button-primary-color;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  border: none;

  @media (min-width: @tablet-width) {
    width: 282px;
    min-height: 52px;

    margin: 0;
    margin-right: 81px;

    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.program__note {
  font-family: "Arial", sans-serif;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
}
